<!-- change_password.html -->
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<title> Change Password</title>
	
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" media="screen" href="css/screen.css" />
	<!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" media="screen" href="css/ie.css" />
	<![endif]-->
	
	<!-- JS -->
	<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="js/jquery.validate.pack.js"></script>
	<script type="text/javascript" src="js/init.js"></script>
</head>

<form method="post" action="{% url 'change_password' %}">
    {% csrf_token %}
    
    <!-- Hiển thị thông báo nếu có -->
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  
    <div id="container"><div id="container-inner">
      <h1>Đổi mật khẩu</h1>
    <!-- Trường nhập mật khẩu cũ -->
    <label for="old_password">Mật khẩu cũ:</label>
    <input type="password" name="old_password" required><br>
  
    <!-- Trường nhập mật khẩu mới -->
    <label for="new_password1">Mật khẩu mới:</label>
    <input type="password" name="new_password1" required><br>
  
    <!-- Trường xác nhận mật khẩu mới -->
    <label for="new_password2">Xác nhận mật khẩu mới:</label>
    <input type="password" name="new_password2" required><br>
  
    <!-- Nút đổi mật khẩu -->
    <input type="submit" value="Đổi mật khẩu">
    <a href="{% url 'loginuser' %}">Trở lại đăng nhập</a>
  </form>
  