{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Đăng nhập</title>
  <link rel="stylesheet" href="{% static 'operation/css/styles.min.css' %}">
  <script type="text/javascript" src="js/jquery.validate.pack.js"></script>
  <script type="text/javascript" src="js/init.js"></script>
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical"
    data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed"
    data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100 ">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="#"
                  class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="{% static 'operation/images/logo.PNG' %}"
                    width="360" style="margin-bottom: -1rem;margin-top: -1rem"
                    alt="">
                </a>
                <!-- <p class="text-center">Your Social Campaigns</p> -->
                <form method="post" action="{% url 'change_password' %}">
                  {% csrf_token %}

                  <div class="mb-4">
                    <label for="old_password" class="form-label">Mật
                      khẩu</label>
                    <input type="password" class="form-control"
                      id="old_password" name="old_password"
                      placeholder="Mật khẩu cũ" required>
                  </div>
                  <div class="mb-4">
                    <label for="new_password1" class="form-label">Mật
                      khẩu</label>
                    <input type="password" class="form-control"
                      id="new_password1" name="new_password1"
                      placeholder="Mật khẩu mới" required>
                  </div>
                  <div class="mb-4">
                    <label for="new_password2" class="form-label">Xác nhận mật
                      khẩu</label>
                    <input type="password" class="form-control"
                      id="new_password2" name="new_password2"
                      placeholder="Xác nhận mật khẩu" required>
                  </div>
                  <!-- <div
                    class="d-flex align-items-center justify-content-between mb-4">
                    <div class="form-check">
                      <input class="form-check-input primary" type="checkbox"
                        value="" id="flexCheckChecked" checked>
                      <label class="form-check-label text-dark"
                        for="flexCheckChecked">
                        Remeber this Device
                      </label>
                    </div>
                    <a class="text-primary fw-bold" href="./index.html">Forgot
                      Password ?</a>
                  </div> -->
                  {% if messages %}
                  <ul class="messages">
                    {% for message in messages %}
                    {% if message.tags %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                    {% endif %}
                    {% endfor %}
                  </ul>
                  {% endif %}
                  <button type="submit"
                    class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Đổi
                    mật khẩu</button>
                  <!-- <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">New to Modernize?</p>
                    <a class="text-primary fw-bold ms-2"
                      href="./authentication-register.html">Create an
                      account</a>
                  </div> -->

                  <a href="{% url 'loginuser' %}"
                    class="btn w-100 py-8 fs-4 mb-4 rounded-2">Trở lại đăng
                    nhập</a>




                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script
    src=" {% static 'operation/libs/jquery/dist/jquery.min.js' %}"></script>
  <script
    src=" {% static 'operation/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>